{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<div class="row row-space">
	<div class="col-12">
		<p>
			Fusce rutrum pharetra neque. Nam malesuada, tortor id convallis 
			feugiat, sapien felis eleifend eros, sit amet ultricies turpis 
			mi non odio. Sed ullamcorper malesuada lorem vitae laoreet. 
			Vestibulum mollis gravida velit tempor faucibus. Morbi eu dolor 
			sed tortor egestas blandit id a odio. Vestibulum ante ipsum 
			primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
			Nulla sem ligula, scelerisque quis libero id, egestas feugiat 
			odio. Aliquam dictum vehicula nisl, ut interdum tortor iaculis 
			eget. Praesent cursus egestas varius. Donec iaculis quis magna 
			et pretium. Quisque non eros condimentum, molestie massa in, 
			sollicitudin massa. Duis lobortis eget nunc non tempor.
		</p>
		<p>
			Maecenas a lorem libero. Etiam eget massa tempor, semper 
			lorem id, varius lacus. Nulla sed magna quis enim iaculis 
			blandit. Cras dignissim porta magna sit amet consectetur. 
			Nam feugiat in diam ac cursus. Donec aliquet ornare suscipit. 
			Vestibulum quis consequat ipsum. Sed lorem nibh, interdum 
			tincidunt gravida nec, egestas sit amet turpis. Nullam posuere 
			elit ac lacinia porttitor. Quisque sit amet mauris ut nulla 
			facilisis tempus ac ut purus. Praesent condimentum, purus quis 
			lacinia facilisis, ligula lorem congue tortor, in aliquet est 
			libero id lorem. Vestibulum quis velit sodales lacus sollicitudin 
			dictum id ut leo. Nam vel gravida odio. Aenean risus metus, 
			consequat tempor iaculis non, venenatis quis quam. Aenean et 
			dictum tellus. Nulla facilisi.
		</p>
	</div>
</div>

<div class="row row-space">
	<div class="col-6">
		<img class="img-fluid" src="{% static 'img/logo1.png' %}" alt="Imagem">
	</div>
	<div class="col-6">
		<img class="img-fluid" src="{% static 'img/logo1.png' %}" alt="Imagem">
	</div>
</div>

{% endblock %}
