{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}

<h2>CADASTRO</h2>


<ul>
{% for pessoa in pessoas %}
	<li> {{ pessoa.nome }} </li>
{% endfor %}
</ul>

<form action="{% url 'usuario_cadastro_novo' %}" method="POST">
	{% csrf_token %} <!--Variavel para proteger o formulario contra ataques de csrf_token-->

	{{ form|bootstrap }}

	<button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<form action="{% url 'usuario_login' %}" method="GET">
	{% csrf_token %}
	<button type="submit" class="btn btn-secondary">Cancelar</button>
</form>

{% endblock %}
