{% extends 'base.html' %}

{% block menu %}
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'usuario_login' %}">Home</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" 
				role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'usuario_cadastro' %}">Novo Cadastro</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item active" href="{% url 'usuario_informacoes' %}">Informações</a>
			</div>
		</li>
		{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Olá, {{ user }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block main %}

<h2>Tem certeza que quer Apagar: {{ pessoa.nome }}</h2>


<form action="{% url 'usuario_cadastro_delete' pessoa.id %}" method="POST">
	{% csrf_token %}
	<button type="submit" class="btn btn-danger">Apagar</button>
</form>

<form action="{% url 'usuario_cadastro_update' pessoa.id %}" method="GET">
	{% csrf_token %}
	<button type="submit" class="btn btn-primary">Cancelar</button>
</form>

{% endblock %}
