{% extends 'base.html' %}

{% block menu %}
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'usuario_login' %}">Home</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" 
				role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'usuario_cadastro' %}">Novo Cadastro</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item active" href="{% url 'usuario_informacoes' %}">Informações</a>
			</div>
		</li>
		{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link disabled" href="">Olá, {{ user }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
		{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">Login</a>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block main %}

	<div class="row">
		<div class="col-12"></div>
			<h1>Informações</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6"></div>
		<div class="col-sm-6"></div>
	</div>

	<ul>
	{% for pessoa in pessoas %}
		<li> 
			<a href="{% url 'usuario_cadastro_update' pessoa.id %}">{{ pessoa.nome }} <a/>
		</li>
	{% endfor %}
	</ul>

{% endblock %}
